.fw-ch {
  font-family: "Arial", sans-serif;
}

.danger-btn {
  color: #fff;
  border-color: #f5222d !important;
  background: #f5222d !important ;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.btn-height {
    padding: 5.8px 11px;
}
