.profile_dddd table tr td {
  color: #000;
  font-size: 13px;
  // border: 1px solid #3d8282 !important;
  font-weight: 700;
  font-family: Roboto;
  padding: 0px;
}
.TeamCombo p {
  margin-bottom: 2px;
}
.tbl-inr td {
  border: 1px solid #e6e6e6 !important;
}
.tbl-inr tr {
  border: 0 !important;
}
.tbl-inr tr td:nth-child(odd) {
  border-left: none !important;
}
.tbl-inr tr td:nth-child(2n) {
  border-right: none !important;
}
.btnprofile {
  border: 1px solid #000;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 6px;
  font-weight: 700;
  background: #87bb33;
  width: 100%;
  text-transform: uppercase;
}
