/* ===============================
   SIDEBAR menu (DRAWER STYLE)
================================ */

.sidebar_menu {
  position: fixed;
  inset: 0;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.45);
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu-dialog {
    margin: 0;
    height: 100%;
    max-width: 380px;

    /* drawer starts off-canvas */
    transform: translateX(-100%);
  }

  .menu-content {
    height: 100%;
    border-radius: 0;
    border: none;
   
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  /* ================= HEADER ================= */
  .menu-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 18px;
    border: none;
    justify-content: start;
        background: #b7862f;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;

    img {
      width: 150px;
      object-fit: contain;
    }

    .close {
      background: transparent;
      border: none;
      padding: 0;
      color: #fff;
      cursor: pointer;
      position: relative;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .login-logo {
      height: 32px;
    }
  }

  /* ================= BODY ================= */
  .menu-body {
    padding: 0;
    flex: 1;
    overflow-y: auto;
     background: linear-gradient(180deg,
        #b7862f  0,
        #000000 100%);
  }

  /* ================= MENU ================= */
  .side-menu-list {
    padding: 8px 0px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu__item {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-inline: 4px;
    margin-block: 4px;
    width: calc(100% - 8px);
    }

    .menu__link {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 0 18px;
      border-radius: 8px;
      color: #dbcdb4;
      text-decoration: none;
      font-size: 13px!important;
      transition: background 0.25s ease;
      height: 36px;
      line-height: 40px;
      list-style-position: inside;
      letter-spacing: 0;
      font-weight: 700;

      .linkIcon {
        display: flex;
        align-items: center;

        svg {
          width: 13px;
          height: 13px;
        }
      }

      &:hover {
        color: #fff!important;
        .linkIcon{
          svg{
            fill: #fff;
          }
        }
      }
    }

    .menu__link.active {
      background: #1677ff;
       color: #fff!important;
        .linkIcon{
          svg{
            fill: #fff;
          }
        }
    }
  }

  /* ================= ANIMATION ================= */
  &.show {
    display: block;

    .menu-dialog {
      animation: slideIn 0.35s ease forwards;
    }
  }

  &.hide .menu-dialog {
    animation: slideOut 0.35s ease forwards;
  }
}

/* ================= KEYFRAMES ================= */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}