/* ===============================
   PAGE WRAPPER
================================ */
.casino-page {
  background: #fff;
  padding: 90px 0px 20px;
}

.casino-section-title {
  background: #b88a2c;
  color: #fff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 0;
  border-radius: 6px 6px 0 0;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 30px;
}

.casino-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  margin-bottom: 15px;
 padding:0 15px 10px ;
}

/* Tablet */
@media (max-width: 991px) {
  .casino-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .casino-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.casino-card {
  background: #b88a2c;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    transform: translateY(-4px);

    img {
      transform: scale(1.1);
    }
  }
}

.casino-card-title {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding:  4px;
  margin: 5px;
  text-transform: uppercase;
}

.casino-card.inactive {
  opacity: 0.45;
  pointer-events: none;

  img {
    filter: grayscale(100%);
  }
}

.casino-card.active {
  cursor: pointer;
}


